<footer id="footer" class="defalut-footer light padding-py-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="item_about">
                    <a class="logo" href="#">
                        <img src="{{url_for('static',filename = 'img/logo.png')}}" alt="">
                    </a>
                    <p>
                        We offer structured state-of-the-art financial data for easy access powered by our
                        index intelligence search engine.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-2">
                <div class="item_links">
                    <h4>Social</h4>
                    <a class="nav-link" href="#">Facebook</a>
                    <a class="nav-link" href="#">Twitter</a>
                    <a class="nav-link" href="#">Instagram</a>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-2">
                <div class="item_links">
                    <h4>Company</h4>
                    <a class="nav-link" href="#Services">Services</a>
                    <a class="nav-link" href="#">Privacy & Policy</a>
                    <a class="nav-link" href="#">Search</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="item_subscribe">
                    <h4>Download</h4>
                    <p>
                        Available on playstore and app store.
                    </p>
                    <div class="app_smartphone mt-4">
                        <div class="btn--app mb-3 mb-lg-0">
                            <a class="media" href="#" target="_blank">
                                <div class="icon dark transform-r-15 flicker">
                                    <i class="tio apple"></i>
                                </div>
                                <div class="media-body txt">
                                    <div>
                                        <span>Download</span>
                                    </div>
                                    <h4>App Store</h4>
                                </div>
                            </a>
                        </div>
                        <div class="btn--app">
                            <a class="media" href="#" target="_blank">
                                <div class="icon blue flicker">
                                    <i class="tio google_play"></i>
                                </div>
                                <div class="media-body txt">
                                    <div>
                                        <span>Download</span>
                                    </div>
                                    <h4>App Store</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 text-center padding-t-4">
            <div class="copyright">
                <span>© 2022
                    <a href="#" target="_blank">Illumenti Fintech.</a>
                    All Right Reseved</span>
            </div>
        </div>
    </div>
</footer>


<div class="prgoress_indicator">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<!-- Start Section Loader -->
<!-- <section class="loading_overlay">
    <div class="loader_logo">
        <img src="{{url_for('static',filename = 'img/logo.png')}}" height="24" class="logo-light-mode" alt="">
    </div>
</section> -->