<!-- Start header -->
<header class="header-nav-center header-nav-left no_blur crypto_1 light nav-product active-orange" id="myNavbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand c-white" href="/">
                <img src="{{url_for('static',filename = 'img/logo.png')}}" width="40" height="40" alt="">
            </a>
            <button class="navbar-toggler menu ripplemenu" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg viewBox="0 0 64 48">
                    <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                    <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                    <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
                </svg>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/#Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy-policy">Privacy & Policy</a>
                    </li>
                    <!-- <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle dropdown_menu" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages

                            <div class="icon_arrow">
                                <i class="tio chevron_right"></i>
                            </div>

                        </a>
                        <div class="dropdown-menu single-drop sm_dropdown" aria-labelledby="navbarDropdown">
                            <ul class="dropdown_menu_nav">

                                <li class="dropdown-submenu dropdown-hover"><a
                                        class="dropdown-item dropdown-toggle dropdown_menu d-flex justify-content-between"
                                        href="#">
                                        Crypto
                                    </a>
                                </li>

                                <li class="dropdown-submenu dropdown-hover"><a
                                        class="dropdown-item dropdown-toggle dropdown_menu d-flex justify-content-between"
                                        href="#">
                                        Equity
                                    </a>
                                </li>


                            </ul>

                        </div>
                    </li> -->
                </ul>
                <div class="nav_account">
                    <a href="#footer" class="btn scale btn_sm_primary bg-orange-red c-white effect-letter rounded-8">
                        Get Started
                    </a>
                </div>
            </div>
        </nav>

    </div>

</header>
<!-- End header -->