<script src="{{url_for('static', filename='js/jquery-3.5.0.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-migrate.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/particles.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/TweenMax.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/ScrollMagic.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/animation.gsap.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/debug.addIndicators.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/swiper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/countdown.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/simpleParallax.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/jquery.counterup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/charming.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/jquery.bxslider.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/sharer.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/sticky.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/aos.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>