{% extends "base.html" %}
{% block title %}Extended Home{% endblock %}
{% block content %}<h1>Illumenti Search</h1>
<form method="POST">
  <div class="form-group">
    <label for="query"></label>
    <input
      type="text"
      class="form-control"
      id="query"
      name="query"
      placeholder="Enter query"                                                             
      />
  </div>
  <br />  
  <button type="submit" class="btn btn-primary">Submit</button>  
</form>
{% if search_results %}
<br />  
<ul id="myUL">
{% for res, d in search_results.items() %}
  <li><a href="https://www.nasdaq.com/market-activity/stocks/{{res}}">{{res + '\t'}}{% for k, v in d.items() %}{% if k !=" " %}<span style="color: #339966">{% endif %}{{k + ': '}}{{v + " "}}{% if k !=" " %}</span>{% endif %}{% endfor %}</a></li>
{% endfor %}    
</ul>
{% endif %} 
{% endblock %}

