<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Illumenti Fintech Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Illumenti provides essential data for making trading decisions in a simple and elegant mobile interface. We offer structured state-of-the-art financial data for easy access powered by our index intelligence search engine." />
    <meta name="keywords"
        content=" Illumenti,  intelligence search engine, making trading decisions,  financial data" />
    <meta name="author" content="" />
    <meta name="email" content="" />
    <meta name="website" content="illumenti.ai" />
    <meta name="Version" content="" />
    {% include "includes/styles.html"%}
</head>

<body>
    <div id="wrapper">
        <div id="content">
            {% include "includes/header.html"%}


            <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <!-- Start Banner Section -->
                <section class="demo_2 demo_3 banner_section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-6">
                                <div class="banner_title">
                                    <h1 class="c-white">Latest Financial <br />Insights and Analysis </h1>
                                    <p>
                                        Illumenti provides essential data for making trading decisions in a simple and
                                        elegant mobile interface. We offer structured state-of-the-art financial data
                                        for easy access powered by our index intelligence search engine.
                                    </p>

                                    <div class="app_smartphone">
                                        <div class="btn--app mb-3 mb-lg-0">
                                            <a class="media" href="#" target="_blank">
                                                <div class="icon">
                                                    <i class="tio apple"></i>
                                                </div>
                                                <div class="media-body txt">
                                                    <div>
                                                        <span>Available on</span>
                                                    </div>
                                                    <h4>App Store</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="btn--app">
                                            <a class="media" href="#" target="_blank">
                                                <div class="icon">
                                                    <i class="tio google_play"></i>
                                                </div>
                                                <div class="media-body txt">
                                                    <div>
                                                        <span>Get it on</span>
                                                    </div>
                                                    <h4>App Store</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-6">
                                <div class="img--elements">
                                    <img src="{{url_for('static',filename = 'img/elements.png')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Banner -->

                <!-- SEARCH SECTION -->
                <section class="products_section product_demo2 features_hosting margin-t-12 padding-py-12"
                    id="Features">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-lg-4 margin-b-3" n>
                                <div id="target1"></div>
                                <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
                                    style="inset: auto; margin: 0px 0px 40px; display: block; position: relative; box-sizing: content-box; min-height: 312px; height: 312px; padding-top: 187.555px; padding-bottom: 112.445px;">
                                    <div class="title_sections" id="pin1"
                                        style="position: sticky; margin: auto; inset: 418px auto auto 47px; box-sizing: border-box; width: 290px;">
                                        <h2>What Makes Illumenti So Different?</h2>
                                        <p>
                                            We utilize natural language technology to redefine search for Fintech,
                                            intelligent indexing and
                                            search. Our search engine curates and delivers highly-relevant market
                                            intelligence data and
                                            analytics.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-7 ml-sm-auto">
                                <div class="row">
                                    <div class="col-md-6 item pr-sm-5 margin-b-5">
                                        <div class="item_pro aos-init aos-animate" data-aos="fade-up"
                                            data-aos-delay="0">
                                            <div class="icon_t">
                                                <img src="{{url_for('static',filename = 'img/icons/Employee.svg')}}"
                                                    alt="">
                                            </div>
                                            <h3>Natural Language Processing</h3>
                                            <p>
                                                Define any querying using natural language for querying financial data.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 item pr-sm-5 margin-b-5">
                                        <div class="item_pro aos-init aos-animate" data-aos="fade-up"
                                            data-aos-delay="100">
                                            <div class="icon_t">
                                                <img src="{{url_for('static',filename = 'img/icons/Binocular.svg')}}"
                                                    alt="">
                                            </div>
                                            <h3>Mobile Assessibility</h3>
                                            <p>
                                                Refine your search on mobile interface
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 item pr-sm-5 margin-b-5">
                                        <div class="item_pro aos-init aos-animate" data-aos="fade-up"
                                            data-aos-delay="200">
                                            <div class="icon_t">
                                                <img src="{{url_for('static',filename = 'img/icons/Angle-double-up.svg')}}"
                                                    alt="">
                                            </div>
                                            <h3>Artificial Intelligence</h3>
                                            <p>
                                                AI powered intelligent search & personalization
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 item pr-sm-5 margin-b-5">
                                        <div class="item_pro aos-init aos-animate" data-aos="fade-up"
                                            data-aos-delay="0">
                                            <div class="icon_t">
                                                <img src="{{url_for('static',filename = 'img/icons/Shield-check.svg')}}"
                                                    alt="">
                                            </div>
                                            <h3>Privacy Compliant</h3>
                                            <p>
                                                Your data is secured via end-to-end encryption.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END OF SEARCH SECTION -->

                <!-- Start Section Products -->
                <section class="products_section product_demo3 padding-t-12" id="Services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-5 margin-b-3">
                                <div class="title_sections margin-b-4">
                                    <h2 class="c-dark">
                                        We help you make long-term, high-conviction investments in crypto and equity
                                    </h2>
                                </div>
                                <img class="illustration d-sm-none d-lg-block" width="460"
                                    src="{{url_for('static',filename = 'img/tecno.png')}}" alt="">
                            </div>
                            <div class="col-lg-6 ml-sm-auto">
                                <div class="row">
                                    <div class="col-md-6 margin-b-5">
                                        <div class="item_pro" data-aos="fade-up" data-aos-delay="0">
                                            <img src="{{url_for('static',filename = 'img/icons/bonus.svg')}}" alt="">
                                            <h3>Technology Edge</h3>
                                            <p>
                                                We provide real time insights for emerging market opportunities
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 margin-b-5">
                                        <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                                            <img src="{{url_for('static',filename = 'img/icons/blockchain.svg')}}"
                                                alt="">
                                            <h3>Sharing across investors </h3>
                                            <p>
                                                Gain access to a community of investors with expert experience in
                                                financial markets.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 margin-b-5">
                                        <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                                            <img src="{{url_for('static',filename = 'img/icons/cryptocurrency.svg')}}"
                                                alt="">
                                            <h3>State of the art data analytics </h3>
                                            <p>
                                                Advanced analytics to help you turn data into connected intelligent
                                                insights
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 margin-b-5">
                                        <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                                            <img src="{{url_for('static',filename = 'img/icons/blockchain.svg')}}"
                                                alt="">
                                            <h3>Real-time Interface </h3>
                                            <p>
                                                The latest financial insights and analysis to keep you up to date and
                                                ahead of the curve.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Section Products -->

                <!-- Start feature_app -->
                <section class="feature_app margin-t-12 padding-t-12" id="Features">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-10 col-lg-8 text-center">
                                <div class="title_sections">
                                    <h2>
                                        We help you through your investment cycle
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-lg-3 order-1 order-lg-1 my-auto">
                                <div class="item-feat" data-aos="fade-up" data-aos-delay="0">
                                    <div class="icon-iim transform-r-15">
                                        <img src="{{url_for('static',filename = 'img/icons/sheet.svg')}}" alt="">
                                    </div>
                                    <h3>Market Analytics</h3>
                                    <p>
                                        Get the critical metrics you need from your mobile device
                                    </p>
                                </div>
                                <div class="item-feat" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon-iim">
                                        <img src="{{url_for('static',filename = 'img/icons/archive.svg')}}" alt="">
                                    </div>
                                    <h3>Data Visualization</h3>
                                    <p>
                                        Visualizing financial reports for everyone
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-4 order-3 order-lg-2 mx-auto" data-aos="fade-up"
                                data-aos-delay="0">
                                <img src="{{url_for('static',filename = 'img/app-preview.png')}}" alt="">
                            </div>
                            <div class="col-lg-3 order-2 order-lg-3 my-auto">
                                <div class="item-feat text-lg-right" dir="rtl" data-aos="fade-up" data-aos-delay="0">
                                    <div class="icon-iim">
                                        <img src="{{url_for('static',filename = 'img/icons/physics.svg')}}" alt="">
                                    </div>
                                    <h3>Business Insights</h3>
                                    <p>
                                        One-stop-shop for financial data
                                    </p>
                                </div>
                                <div class="item-feat text-lg-right" dir="rtl" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon-iim">
                                        <img src="{{url_for('static',filename = 'img/icons/user.svg')}}" alt="">
                                    </div>
                                    <h3>Social sharing for investing </h3>
                                    <p>
                                        Collaborate and interact with other investors
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End. feature_app -->

                <!-- Start Simple Contact -->
                <section class="simplecontact_section connect_us margin-t-12 padding-py-7">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-10 col-lg-5 text-center">
                                <div class="title_sections">
                                    <h2>Ready when you are</h2>
                                    <p>
                                        Let’s explore how we can apply our technology to
                                        fit your business needs.
                                    </p>
                                    <button type="button"
                                        class="btn rounded-8 c-white btn_md_primary ripple scale bg-orange-red">
                                        Get Started Now
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="circle-ripple">
                            <div class="ripple ripple-1"></div>
                            <div class="ripple ripple-2"></div>
                            <div class="ripple ripple-3"></div>
                        </div>
                    </div>
                </section>
                <!-- End Simple Contact -->
            </main>

            {% include "includes/footer.html"%}
            {% include "includes/scripts.html"%}


        </div>
    </div>
</body>

</html>